*{}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: azure;
}

.display{
    border: 2px solid black;
    width: 260px;
    min-height: 130px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end
    
}

.calculator{
    width: 325px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid black;
    background-color: rgb(178, 178, 178);
    padding: 2% 0;
    border-radius: 5%;
    

}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    
}

button{
    margin: 0;
    font-size: 30px;
    padding: 10px;
    width: 20%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    border-radius: 15%;
    
}
#CLEAR,#bsc{
    width: 40%;
    margin: 4% 2%
    

}

.past{
    display: flex;
    
    min-height: 30px;
}
span{
    display: flex;
    font-size: 15px;

}

#presentCalculation{
    font-size: 40px;
    max-width: 100%;
    display: inline-block;
    text-align:right;
    word-wrap: break-word;
    vertical-align: text-bottom;
  
    
 

}






