
body{
    display: flex;
    justify-content: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: azure;
}

.calculator{
    margin-top: 50px;
    width: 325px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid black;
    background-color: rgb(178, 178, 178);
    padding: 2% 0;
    border-radius: 5%;
}

.display{
    border: 2px solid black;
    width: 260px;
    min-height: 120px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    
}

button{
    margin: 0;
    font-size: 30px;
    padding: 10px;
    width: 20%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    border-radius: 15%;
    
}

button:hover{
    opacity: 0.8;
}
.function{
    background-color: rgb(255, 152, 55);
    

}

.operator{
    background-color: rgb(219, 171, 0);
}
#equal{
    background-color: rgb(93, 154, 247);
}

.past{
    display: flex;
    
    min-height: 30px;
}
span{
    display: flex;
    font-size: 15px;

}

#presentCalculation,#pastCalculation{
    font-size: 40px;
    max-width: 100%;
    display: inline-block;
    text-align:right;
    word-wrap: break-word;
    vertical-align: text-bottom;
}

#pastCalculation{
    font-size: 20px;
}








